.InfoDiv {
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    line-height: 10px;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}

a {
    font-family: Arial;
}

p {
    font-family: Arial;
}

h1 {
    font-family: Arial;
}

h2 {
    font-family: Arial;
}

.ExclamationMark {
    height: 30px;
    width: 30px;
    padding-top: 10px;
    padding-left: 12px;
}

.NorwichBusUpdatesTitle {
    position: absolute;
    font-weight: bold;
    padding-left: 10px;
    padding-top: -5px;
}

.TwitterFrame {
    padding-top: 80px;
    height: 700px;
    width: 25%;
}

.TrafficAnnouncements {
    font-weight: bold;
    position: relative;
    padding-top: -150cm;
    padding-left: 40px;
    text-align: center;
}

.TwitterCompanyLogo {
    height: 70px;
    width: 70px;
}

.SpacingDiv1 {
    width: 100%;
    height: 50px;
}

.FullTrafficInformationPage {
    width: 100%;
    height: 100%;
}

.FirstNorwichTitle {
    position: absolute;
    font-weight: bold;
    padding-left: 27%;
    padding-top: -5px;
}

.Footer {
    padding-top: 850px;
    font-family: Arial;
}